body{
}

#header{
	width: 700px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
}

#inner{
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

#inputs{
	width: 200px;
	padding: 10px;
}

#graph{
	width: 400px;
	padding: 10px;
}

#predictions{
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}
